<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paint.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @paint.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @paint.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @paint.description %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @paint.dimension %>
</p>

<p>
  <strong>Location:</strong>
  <%= @paint.location %>
</p>

<%= link_to 'Edit', edit_paint_path(@paint) %> |
<%= link_to 'Back', paints_path %>
