<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<h1> </h1>
<img src: "https://dailygeekshow.com/wp-content/uploads/2016/08/evolution-soleil-etoile-6.jpg" />  

  </head>

  <body>
    <%= yield %>
  </body>
</html>
